/* Reset CSS - Ensures consistent styling across browsers */
* {
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}

/* Remove default button styling for a clean slate */
button {
  background: none; /* Removes default background */
  border: none; /* Removes default border */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  font: inherit; /* Inherits font from parent element */
  color: inherit; /* Inherits color from parent element */
  cursor: pointer; /* Ensures cursor changes to pointer on hover */
  outline: none; /* Removes default focus outline */
}

/* Basic page styling */
body {
  background: url('./images/potential-bg.png') center / cover no-repeat; /* Sets background image, centers it, and ensures it covers the entire page */
  height: 100vh; /* Sets the height to 100% of the viewport height */
  width: 100vw; /* Sets the width to 100% of the viewport width */
  font-family: 'Inconsolata', monospace; /* Sets a monospaced font for the body */
  display: flex; /* Applies flexbox layout */
  flex-direction: column; /* Arranges children in a column */
}

.notification-bar {
  background-color: hwb(0 12% 88% / 0.915);
  color: #e2e2e2; 
  padding: 10px;
  border: 1px solid hsl(0, 0%, 24%); 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensures the bar stays on top */
  font-size: 14px;
}

.notification-content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.notification-content p {
  margin: 5px 0;
}

/* Header styles */
.header {
  display: flex; /* Applies flexbox layout */
  justify-content: space-between; /* Distributes space between children */
  align-items: center; /* Aligns children vertically in the center */
  padding: 30px 0; /* Adds vertical padding */
}

.logo {
  margin-left: 5%; /* Adds left margin */
}

.logo img {
  max-width: 180px; /* Limits maximum width */
  height: auto; /* Maintains aspect ratio */
}

.social-icons {
  margin-right: 5%; /* Adds right margin */
}

.social-icons img {
  width: 20px; /* Sets width */
  height: 20px; /* Sets height */
  margin-left: 7px; /* Adds left margin between icons */
}

/* Artist list styles */
.artistlist {
  max-width: 550px; /* Sets maximum width */
  min-width: 400px; /* Sets minimum width */
  height: auto; /* Maintains aspect ratio */
  margin-right: 12%; /* Adds right margin */
}

/* Intro section styles */
.intro {
  margin: 0 auto; /* Centers the intro section horizontally */
  width: 80%; /* Sets width to 80% of the parent */
  display: flex; /* Applies flexbox layout */
  justify-content: start; /* Aligns children to the start */
}

.intro section {
  width: 100%; /* Sets width to 100% of the parent */
}

.intro section p {
  display: flex; /* Applies flexbox layout */
  font-style: italic; /* Italicizes text */
}

.intro section p:nth-of-type(1) {
  justify-content: start; /* Aligns first paragraph to the start */
}

.intro section p:nth-of-type(2) {
  justify-content: center; /* Centers second paragraph */
}

.intro section p:nth-of-type(3) {
  justify-content: end; /* Aligns third paragraph to the end */
}

.intro section p span {
  color: #c5c5c5; /* Sets text color */
  background-color: hwb(
    40 97% 2% / 0.022
  ); /* Sets background color with transparency */
  text-align: justify; /* Justifies text */
  padding: 10px; /* Adds padding */
  font-size: 24px; /* Sets font size */
  font-weight: semi-bold; /* Sets font weight */
  font-family: Arial, Helvetica, sans-serif; /* Sets font family */
  display: inline-block; /* Ensures span elements behave like inline-block elements */
}

/* Image box styles */
.imagebox {
  display: flex; /* Applies flexbox layout */
  justify-content: end; /* Aligns children to the end */
}

/* Divider styles */
.divider {
  height: 2px; /* Sets height */
  width: 80%; /* Sets width */
  margin: 20px auto; /* Centers the divider and adds vertical margin */
  background-color: #363637; /* Sets background color */
}

/* Button group styles */
.button-group {
  margin: 0 auto; /* Centers the button group */
  width: 75%; /* Sets width */
  display: flex; /* Applies flexbox layout */
  justify-content: space-between; /* Distributes space between buttons */
}

.button-group button {
  height: 300px; /* Sets button height */
  width: 270px; /* Sets button width */
  font-size: 24px; /* Sets font size */
  font-style: italic; /* Italicizes text */
  color: #ffd19c; /* Sets text color */
  outline: 5px solid rgba(52, 52, 52, 0.5); /* Sets outline color and width */
}

/* Sets background for each button with gradient overlay */
.button-group button:nth-of-type(1) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./images/tickets.png') center/cover; /* Shorthand for background image, position, and size */
}
.button-group button:nth-of-type(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./images/experiences.png') center/cover; /* Shorthand for background image, position, and size */
}
.button-group button:nth-of-type(3) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./images/merch.png') center/cover; /* Shorthand for background image, position, and size */
}

/* Mobile social icons */
.social-icons-mobile {
  display: none; /* Hidden by default */
  width: 80%; /* Sets width */
  justify-content: center; /* Centers content */
  margin: 0 auto; /* Centers element */
  position: fixed; /* Fixes the element's position */
  bottom: 0; /* Positions it at the bottom of the viewport */
  left: 50%; /* Centers the element horizontally */
  transform: translateX(-50%); /* Adjusts for the element's width */
  margin-bottom: 40px; /* Adds bottom margin */
  padding: 10px; /* Adds padding */
  z-index: 1000; /* Ensures it stays on top of other elements */
}

.social-icons-mobile img {
  width: 20px; /* Sets width */
  height: 20px; /* Sets height */
  margin-left: 15px; /* Adds left margin between icons */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .button-group {
    flex-direction: column; /* Changes direction to column on smaller screens */
    align-items: center; /* Centers buttons horizontally */
    width: 80%; /* Adjusts width */
  }

  .button-group button {
    height: 80px; /* Sets button height */
    width: 100%; /* Sets button width */
    outline: 2px solid rgba(52, 52, 52, 0.5); /* Sets outline color and width */
    margin-bottom: 10px; /* Adds bottom margin */
  }

  .intro {
    display: none; /* Hides intro section */
  }

  .imagebox img {
    margin-right: 0px; /* Removes right margin */
    padding: 7%; /* Adds padding */
  }

  .social-icons {
    display: none; /* Hides desktop social icons */
  }

  .social-icons-mobile {
    display: flex; /* Displays mobile social icons */
  }
}

/* Uncomment for border debugging */
/* .border {
  border: 1px solid blue;
} */
