* {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}

button {
  background: none;
  border: none; 
  padding: 0; 
  margin: 0; 
  font: inherit; 
  color: inherit; 
  cursor: pointer; 
  outline: none;
}

body {
  background: url('./images/background1.jpg') center / cover no-repeat;
  height: 100%; 
  width: 100vw; 
  font-family: 'Inconsolata', monospace; 
  display: flex; 
  flex-direction: column; 
}

main {
  flex: 1;
}

.notification-bar {
  background-color: hwb(0 12% 88% / 0.915);
  color: #e2e2e2;
  padding: 4px;
  border: 1px solid hsl(0, 0%, 24%);
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
}

.notification-content {
  /* display: inline-block; */
  padding-left: 100%;
  animation: scroll 25s linear infinite;
}

.notification-content p {
  display: inline;
  margin: 0;
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.header {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 20px 0; 
}

.logo {
  margin-left: 5%;
}

.logo img {
  max-width: 180px; 
  height: auto; 
}

.social-icons {
  margin-right: 5%; 
}

.social-icons img {
  width: 20px; 
  height: 20px; 
  margin-left: 7px; 
}

.artistlist {
  max-width: 550px;
  min-width: 400px;
  height: auto; 
  margin-right: 12%;
}

.intro {
  margin: 0 auto; 
  width: 80%; 
  display: flex;
  justify-content: start; 
}

.intro section {
  width: 100%; 
}

.intro section p {
  display: flex;
  font-style: italic; 
}

.intro section p:nth-of-type(1) {
  justify-content: start; 
}

.intro section p:nth-of-type(2) {
  justify-content: center;
}

.intro section p:nth-of-type(3) {
  justify-content: end; 
}

.intro section p span {
  color: #c5c5c5; 
  background-color: hwb(
    40 97% 2% / 0.022
  );
  text-align: justify; 
  padding: 10px; 
  font-size: 24px; 
  font-weight: semi-bold; 
  font-family: Arial, Helvetica, sans-serif; 
  display: inline-block; 
}

.imagebox {
  display: flex; 
  justify-content: end; 
}

.divider {
  height: 2px;
  width: 80%; 
  margin: 20px auto; 
  background-color: #363637; 
}

.button-group {
  margin: 0 auto; 
  width: 75%; 
  display: flex; 
  justify-content: space-between; 
}

.button-group button {
  height: 300px; /* Sets button height */
  width: 270px; /* Sets button width */
  font-size: 24px; /* Sets font size */
  font-style: italic; /* Italicizes text */
  color: #ffd19c; /* Sets text color */
  outline: 5px solid rgba(52, 52, 52, 0.5); /* Sets outline color and width */
}

/* Sets background for each button with gradient overlay */
.button-group button:nth-of-type(1) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./images/tickets.png') center/cover; /* Shorthand for background image, position, and size */
}
.button-group button:nth-of-type(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./images/experiences.png') center/cover; /* Shorthand for background image, position, and size */
}
.button-group button:nth-of-type(3) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./images/merch.png') center/cover; /* Shorthand for background image, position, and size */
}

/* Mobile social icons */
.social-icons-mobile {
  display: none; /* Hidden by default */
  width: 80%; /* Sets width */
  justify-content: center; /* Centers content */
  margin: 0 auto; /* Centers element */
  position: fixed; /* Fixes the element's position */
  bottom: 0; /* Positions it at the bottom of the viewport */
  left: 50%; /* Centers the element horizontally */
  transform: translateX(-50%); /* Adjusts for the element's width */
  margin-bottom: 40px; /* Adds bottom margin */
  padding: 10px; /* Adds padding */
  z-index: 1000; /* Ensures it stays on top of other elements */
}

.social-icons-mobile img {
  width: 20px; /* Sets width */
  height: 20px; /* Sets height */
  margin-left: 15px; /* Adds left margin between icons */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .button-group {
    flex-direction: column; /* Changes direction to column on smaller screens */
    align-items: center; /* Centers buttons horizontally */
    width: 80%; /* Adjusts width */
  }

  .button-group button {
    height: 80px; /* Sets button height */
    width: 100%; /* Sets button width */
    outline: 2px solid rgba(52, 52, 52, 0.5); /* Sets outline color and width */
    margin-bottom: 10px; /* Adds bottom margin */
  }

  .intro {
    display: none; /* Hides intro section */
  }

  .imagebox img {
    margin-right: 0px; /* Removes right margin */
    padding: 7%; /* Adds padding */
  }

  .social-icons {
    display: none; /* Hides desktop social icons */
  }

  .social-icons-mobile {
    display: flex; /* Displays mobile social icons */
  }

  .footer-logo {
    display: none;
  }
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 20px 5%;
  background-color: #33333398;
  color: #fff;
  font-size: 14px;
}

.footer-logo img {
  max-width: 150px;
  margin-right: 20px;
}

.footer-details {
  display: flex;
  flex-direction: column;
}

.footer-contact p {
  margin: 5px 0;
}

.footer-social {
  display: flex;
  margin-top: 10px;
}

.footer-social img {
  max-width: 24px;
  margin-right: 10px;
}

.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-links {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  margin: 5px 0;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-form input {
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
}

.footer-form button {
  padding: 8px 16px;
  background-color: hsl(0, 0%, 35%);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer-form button:hover {
  background-color: #000000;
}

/* Uncomment for border debugging */
/* .border {
  border: 1px solid blue;
} */